.btn {
  background-color: $site-color;
  // color: $active-color;
  color: #FFF;

  text-transform: uppercase;
  padding: 19px 66px;
  font-size: 22px;
  line-height: 34px;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  &:hover, &:focus {
    // color: $active-color;
    color: #fff;

  }
}
.btn-left {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    right: -1px;
    top: 3px;
    bottom: 3px;
    width: 3px;
    height: auto;
    background-color: #ffffff;
  }
}
.btn-right {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.btn-all {
  border-radius: 50px;
}
.btn-main {
  min-width: 366px;
  transition:.2s;
  &:hover{
    background:$site-color-tone;
  }
}
@media(max-width: 1200px) {
  .btn {
    padding: 15px 40px;
  }
  .btn-main {
    min-width: 300px ;
  }
}

.batton{
  background: $site-color;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 12px 47px;
  transition:.2s;
  min-width: 250px;
   &:hover{
      background: $site-color-tone;
      color: #fff;
  }
  &_light{
    background: #fff;
    // border: 3px solid #FCD227;
    color: #000;
    box-shadow: 0 0 0 3px $site-color;
    &:hover{
      // border-width: 6px;
      box-shadow: 0 0 0 5px $site-color-tone;
      background: none;
      color: #000;
    }
  }
}


@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .btn-left{
    
  }
  .btn-main{
    min-width: 240px !important;
    padding: 8px 25px;
    font-size: 18px !important;
  }
}





@keyframes spin {
   0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
      /* opacity: 0; */
  }
  90%{-webkit-transform: translate(-50%, -50%) rotate(600deg) scale(1);
    /* opacity: 1; */
  }
  100% {
      -webkit-transform:translate(-50%, -50%) rotate(600deg) scale(0);
      /* opacity: 1; */
  }
}

@-webkit-keyframes spin {
  0% {-webkit-transform: translate(-50%,-50%) rotate(0deg) scale(1);}

  98% {-webkit-transform: translate(-50%,-50%) rotate(600deg) scale(1);}

  100% {-webkit-transform: translate(-50%,-50%) rotate(600deg) scale(0);}
}
    
@keyframes success{
    from {
       transform: translate(-50%, -50%) rotate(0) scale(0);
       }
    to {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@-webkit-keyframes success{
    from {
       -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
       }
    to {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}


$button-width: 228px;
$spinner-width: $button-width/6;
// $blue: $blue;
// $btn-bg: $blue;
$text-light: #000;

.button{
  display: inline-block;
  min-width: $button-width;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: $site-color;
  min-height: 44px;
  vertical-align: baseline;   
  &:hover{
    background: $site-color-tone !important;
    color: #fff !important;
  }

  
  &:focus{
    outline: 0;
    background: $site-color-tone !important;
    color: #000 !important;
  }



  @keyframes anim-moema-1 {
    10% {
      -webkit-transform: scale3d(0.9, 0.9, 1);
      transform: scale3d(0.9, 0.9, 1);
    }
    85% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  &.animate{
    width: $button-width;
    min-width: 0;
    transition: .5s;
    color: transparent!important;
    animation: anim-moema-1 0.2s forwards;
    &:after{
      position: absolute;
      content: '';
      width: 27px;
      height: 27px;
      border: 4px solid $text-light;
      border-radius: 50%;
      border-left-color: transparent;
      left: 50%;
      top: 50%;

      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      animation: spin ease-in 1s forwards;
      animation-name: spin;
      -webkit-animation-name: spin; 
      transition-timing-function:ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;

    }

    &.success:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 10px;
      border: 4px solid $text-light;
      border-right: 0;
      border-top: 0;
      left: 50%;
      top: 50%;
      margin-top: -3px; 
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
      transform: translate(-50%, -50%) rotate(0deg) scale(0);
      -webkit-animation: success ease-in 0.15s forwards;
      animation: success ease-in 0.15s forwards;
      animation-delay: 1s;
    }
  }
}





