.content{
	// h1, h2, h3, h4, h5, h6{
	// 	margin-bottom: 5px;
	// }
	// h1{
	// 	font-size: 2em;
	// 	text-transform: uppercase;
	// }
	// h2{
	// 	font-size: 2em;
	// 	text-transform: uppercase;
	// } 
	// h3{
	// 	font-size: 2em;
	// 	color: $orange;
	// }
	// h4{
	// 	font-size: 1.8em;
	// 	text-transform: uppercase;
	// }
 // 	h5{
	// 	font-size: 1.8em;
	// 	color: $orange;
	// 	text-transform: uppercase;
	// }
 // 	h6{
	// 	font-size: 1.8em;
	// 	color: $orange;
	// }
	>a{
		font-size: 1.6em;
	}
	a{
		
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: bold;
		line-height: 30px;
		font-size: 18px;
		transition:.2s;
		color: #007D39;
		&:hover{
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: bold;
			line-height: 30px;
			font-size: 18px;
			text-decoration-line: underline;

			color: #13B65D;
		}
	}
	p{
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 300;
		line-height: 30px;
		font-size: 18px;

		color: #000000;
	}
	ul, ol{
		margin: 5px 0 10px 45px;
		li{
			padding-left: 15px;
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 300;
			line-height: 30px;
			font-size: 18px;

			color: #000000;
		}
	}
	blockquote{
		padding: 0px 0 0px 30px;
		margin-left: 30px;
		border-left: 5px solid #017a33;
		p{
			margin: 0;
			font-family: 'Roboto', sans-serif;
			font-style: italic;
			font-weight: 300;
			line-height: 30px;
			font-size: 18px;

			color: #000000;
		}
	}
	figure{
		max-width: 100% !important;
		margin: 0 ;
		margin-right: 15px;
		img{
			margin-bottom: 5px;

		}
		figcaption{
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 300;
			line-height: 20px;
			font-size: 15px;
			text-align: center;
			padding: 0 35px;
			color: #837F7F;
		}
	}
	.wp-caption-dd{
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 300;
		line-height: 20px;
		font-size: 15px;
		text-align: center;
		padding: 0 35px;
		color: #837F7F;
	}
	.wp-caption-dt{
		margin-bottom: 15px;
	}
}