.contact-fom {
  label {
    font-size: 14px;
    letter-spacing: 0.06em;
    font-weight: bold;
    line-height: 16px;
    color: #4A4A4A;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
  }
  input {
    border: none;
    display: inline-block;
    padding: 9px 11px;
    color: #39393A;
    max-width: 309px;
    box-shadow: none;
    font-weight: 300;
    margin: 0 0 17px;
  }
  .submit {
    // color: #3D3A3A;
    color: #fff;
    letter-spacing: 0.04em;
    background-color: $site-color-tone;
    border-radius: 30px;
    padding: 18px 52px;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    width: auto;
    margin-top: 23px;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
  }

}


@media screen and (max-width: 39.9375em){
    .contact_us{
        padding: 6% 30px !important;
    }
    .contacts {
      .row {
        display: block !important;
      }
    }

}
.form-block{
    position: relative;
    overflow: hidden;
    .contact_us__success{
        text-align: center;
        position: absolute;
        background: #f7f7f7;
        bottom: 0;
        top: 0;
        width: 100%;
        transform: scale(0);
        z-index: 4;
        transition:.2s;
        p{
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &.active{
            left: 0%;
             transform: scale(1);
        }
    }
    .submit {
        // color: #3D3A3A;
    color: #fff;

        letter-spacing: 0.04em;
        background-color: $site-color;
        border-radius: 30px;
        padding: 18px 52px;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 600;
        width: auto;
        margin-top: 23px;
        outline: none;
        float: none !important;
        transition: .2s;
        &:hover{
            background: $site-color-tone;
        }
    }
}