// color

// foundation
// $body-font-family: $light;
// $body-font-color: $black80;

$paragraph-margin-bottom: 0;
$header-margin-bottom: 0;

$grid-column-gutter: (
  small: 30px,
  medium: 30px,
);

$font-color: #393939;
// $site-color: #ffe834;
$site-color: #0abab5;

// $site-color-tone: #F8E500;
$site-color-tone: #09a7a3;

$active-color: #017A33;


$Tiffany: #0abab5;
$Tiffany-light: #b1fafb;
