@import "common/_variables";
@import "settings/_settings";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@include foundation-everything;

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/apartment_item";
@import "layouts/aboutPage";
@import "layouts/contacts";
@import "layouts/blog";
@import "layouts/blogEntry";
@import "layouts/sections";


//////////////////////   fancybox  ////////////////////////////
.fancybox-button--arrow_right{
   background: inherit;
   height: 105px !important;
  right: 30px !important;
  div{
    background: inherit;
     background-image: url(../images/n-slide-next.svg);
     background-repeat: no-repeat;
     background-size: cover;
     padding: 0 !important;

  }
  svg{
    display: none;
  }
}
.fancybox-bg{
  background: #BEBDB2 !important;
}
.fancybox-button--arrow_left{
   background: inherit;
   height: 105px !important;
  left: 30px !important;
  div{
    background: inherit;
     background-image: url(../images/n-slide-prev.svg);
     background-repeat: no-repeat;
     background-size: cover;
     padding: 0 !important;

  }
  svg{
    display: none;
  }
}

.fancybox-button--close{
   background: inherit;
 
    margin: 15px !important;
    background: inherit;
     background-image: url(../images/fancyBox-close.svg);
     background-repeat: no-repeat;
     background-size: cover;
     /* padding: 0 !important; */


  svg{
    display: none;
  }
}

@media screen and (max-width: 39.9375em){
  .fancybox-button--arrow_left,.fancybox-button--arrow_right{
    bottom: 15px;
    top: auto !important;
  }
}

/////////////////////////////////////////////////////////////////////////////////


@font-face { 
  font-family: Gilroy;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}

.nice-select{
  border: none;
  background:#ffffff;
  .list{
    left: auto !important;
    right: 0 !important;
  }
  .current{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    line-height: 39px;
    font-size: 24px;
    text-transform: uppercase;

    color: #393939;
  }
}


#map{
  height: 500px;
  img {
    cursor:  -webkit-grab !important;  
  }
}


.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}





.base-front-page {
  background-color: #FFCE26;
  color: #ffffff;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-size: 18px;
  .logo {
    position: absolute;
    top: 136px;
    left: 25%;
    z-index: 100;
  }
  .column-50 {
    width: 50%;
    float: left;
    position: relative;
    height: 100%;
  }
  .info {
    padding: 0 18%;
    position: absolute;
    top: 238px;
    z-index: 50;
  }
  h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 88px;
    font-family: Gilroy;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;
  }
  p {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 16px;
    font-family: Gilroy;
  }
  .main-phone {
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 13px;
    font-weight: 400;
  }
  .main-phone.viber {
    margin-bottom: 22px;
  }
  h5 {
    margin: 0;
    position: relative;
    padding-left: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  h5 .icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
  }
  .other-contacts {
    margin-top: 13px;
    height: 35px;
    line-height: 35px;
  }
  .icon {
    vertical-align: top;
    display: inline-block;
    img {
      vertical-align: top;
    }
  }
  .clearfix {
    clear: both;
  }
  .build-proc {
    position: absolute;
    top: 185px;
    width: 100%;
  }
  .brick {
    position: absolute;
    transform: rotate(-17.5deg);
    transform-origin: top center;
    width: 27%;
    top: 29.5%;
    left: 21%;
    animation-name: brick;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  .loop {
    position: absolute;
    width: 1.6%;
    top: 19%;
    left: 33.5%;
    animation-name: loop;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  .cord {
    position: absolute;
    top: 25.5%;
    width: 0.6%;
    left: 34%;
    height: 1%;
    background-color: #ffffff;
    animation-name: cord;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
}


@media (max-width: 1400px) {
  .base-front-page {
    h1 {
      font-size: 60px;
      line-height: 70px;
    }
    .main-phone {
      font-size: 36px;
    }
  }
}

@media (max-width: 1200px) {
  .base-front-page {
    .logo {
      top: 100px;
    }
    .logo img {
      width: 90%;
    }
    h1 {
      font-size: 53px;
    }
    .main-phone {
      font-size: 29px;
    }
  }
}
@media (max-width: 992px) {
  .base-front-page {
    .logo {
      left: 36%;
      text-align: left;
      img {
        width: 77%;
      }
    }
    .info {
      padding-left: 7%;
      padding-right: 22%;
      top: 185px;
    }
    .column-50 {
      width: 100%;
    }
    h1 {
      font-size: 48px;
      line-height: 56px;
      width: 85%;
    }
    .main-phone {
      font-size: 36px;
    }
    h5, .phone {
      font-size: 16px;
    }
    .info .column-50 {
      width: 50%;
    }
    .main-phone .icon img, .main-phone .icon {
      width: 48px;
      height: 48px;
    }
    h5 .icon img, .phone .icon img {
      width: 30px;
      height: 30px;
    }
    .build-proc {
      top: 72px;
      width: 64%;
      right: 0;
    }
    .other-contacts {
      height: 30px;
      line-height: 30px;
    }
  }
}
@media (max-width: 550px) {
  .base-front-page {
    .logo {
      top: 53px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      img {
        width: 69%;
      }
    }
    h1 {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 14px;
    }
    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .main-phone {
      font-size: 18px;
      margin: 0 0 6px;
      line-height: 25px;
    }
    .main-phone.viber {
      margin-bottom: 12px;
    }
    .main-phone .icon img, .main-phone .icon {
      width: 28px;
      height: 28px;
    }
    .other-contacts {
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 16px;
      height: 18px;
    }
    h5 {
      padding-left: 28px;
    }
    h5 .icon img, .phone .icon img {
      width: 18px;
      height: 18px;
    }
    .info {
      padding-left: 9%;
      padding-right: 23%;
      top: 109px;
      .column-50 {
        width: 100%;
      }
    }
  }
}

@keyframes brick {
  0%   {
    top: 29.5%;
  }
  15%   {
    top: 29.5%;
  }
  40%  {
    top: 37.5%;
    transform: rotate(-17.5deg);
  }
  44%  {
    top: 37.5%;
    transform: rotate(-5deg);
  }
  48%  {
    top: 37.5%;
    transform: rotate(-30deg);
  }
  52%  {
    top: 37.5%;
    transform: rotate(0deg);
  }
  56%  {
    top: 37.5%;
    transform: rotate(-17.5deg);
  }
  65%  {
    top: 37.5%;
    transform: rotate(-17.5deg);
  }
  90% {
    top: 29.5%;
  }
  100% {
    top: 29.5%;
  }
}
@keyframes loop {
  0%   {
    top: 19%;
  }
  15%   {
    top: 19%;
  }
  40%  {
    top: 27%;
  }
  65% {
    top: 27%;
  }
  90%  {
    top: 19%;
  }
  100%  {
    top: 19%;
  }
}
@keyframes cord {
  0%   {
    height: 1%;
  }
  15%   {
    height: 1%;
  }
  40%  {
    height: 9%;
  }
  65%   {
    height: 9%;
  }
  90%  {
    height: 1%;
  }
  100%  {
    height: 1%;
  }
}

.building-content {
  // max-width: 1200px;
  position: relative;
  // margin: 45px auto;
}

.building-content > img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
   
#building_map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#building_map svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}