footer {
  position: relative;
  top: -1px;
}
.footer-menu {
  background-color: $active-color;
  padding: 27px 0 40px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  .row {
    max-width: 85%;
    display: flex;
  }
    ul{
        margin: 0;
        list-style: none;
        li{
            a{
                color: #fff;
                line-height: 20px;
                margin-bottom: 10px;
                /* font-weight: 300; */
                &:hover{
                    color: $site-color;
                }
            }
            a:not([href]) {
            /* font-weight: 400; */
                &:hover{
                    color: #fff;
                    cursor: text;

                }
            }
            &.phone{
                position: relative;
                padding-left: 30px;
                a{
                  position: relative;
                   &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    top: 1px;
                    left: -30px;
                    width: 21px;
                    height: 21px;
                    background-image:  url('../images/f-phone.svg');
                    background-repeat: no-repeat;
                  }
                }
               
               
            }
            &.viber{
                position: relative;
                padding-left: 30px;
                a{
                  position: relative;
                  &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    top: 1px;
                    left: -30px;
                    width: 21px;
                    height: 21px;
                    background-image:  url('../images/f-viber.svg');
                    background-repeat: no-repeat;
                  }
                }
                
               
            }
            &.mail{
                position: relative;
                padding-left: 30px;
                a{
                  position: relative;
                  &:after{
                      position: absolute;
                      content: '';
                      display: block;
                      top: 1px;
                      left: -30px;
                      width: 21px;
                      height: 21px;
                      background-image:  url('../images/f-mail.svg');
                      background-repeat: no-repeat;
                  }
                }
                
               
            }
             &.facebook{
                position: relative;
                padding-left: 30px;
                a{
                  position: relative;
                   &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    top: 1px;
                    left: -30px;
                    width: 21px;
                    height: 21px;
                    background-image:  url('../images/f-fb.svg');
                    background-repeat: no-repeat;
                  }
                }
               
               
            }
        }
    }
}
.sub-footer {
  height: 50px;
  line-height: 50px;
  padding: 0 6% 0 9.8%;
}
.copyright {
  font-size: 16px;
  line-height: 19px;
  margin-top: 25px;
}
.footer-name {
  color: $site-color ;
  color: #fff;

  font-weight: 600;
  margin-bottom: 26px; 
  text-transform: uppercase;
}
.footer-descr {
 /*  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #fff; */
  img {
    margin-right: 20px;
  }
}
.f-contacts {
  .footer-descr {
    // color: $site-color;
  color: #fff;
    
  }
  
}

@media screen and (max-width: 39.9375em){
  .footer-menu {
    .row {
      .footer-name{
        margin-bottom: 6px;
      }
      text-align: center;
      flex-direction: column;
      &>div{
        margin-bottom: 27px;
      }
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .footer-name {
    margin-bottom: 10px !important;
  }
  .footer-menu {
    .row {
      flex-wrap: wrap;
      &>div{
        margin-bottom: 20px;
      }

    }
  }
}

@media (max-width: 1500px) {
  .footer-menu {
    .row {
      max-width: 95%;
    }
  }
}
@media (max-width: 1200px) {
  .footer-menu {
    .row {
      max-width: 95%;
    }
  }
}