body {
  background-color: #fff;
  // F7F7F7
  font-family: Roboto, sans-serif;
  color: $font-color;
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto;
    max-width: 1905px;
    &.hiddenScroll{
      overflow: hidden;
    }
}
.sub-header {
  /* height: 70px; */
  /* padding: 0 115px 0 189px; */
  padding: 0 15px;
  max-width: 1295px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-logo {
  display: inline-block;
  // height: 70px;
  line-height: 70px;
  padding: 20px 0;
  img{
    height: 73px;
  }
}
.logo2{
  text-align: center;
}

.logo3 {
  margin-right: 30px;
}
.info-group {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sub-phone {
  display: inline-block;
  a{
   font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    white-space: nowrap;
    color: #393939;
  }
  span {
    position: relative;
    img{
      height: 17px;
    }
    /* top: 7px; */
    margin-left: 15px;
  }
}
.lang-switcher {
  display: inline-block;
  list-style: none;
  /* margin: 0 0 0 49px; */
  font-size: 14px;
  line-height: 17px;
  li {
    cursor: pointer;
  }
}

.navigation {
  background-color: $site-color;

  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    height: 34px;
    width: 100%;
    left: 0;
    bottom: 6px;
      box-shadow: 0px 4px 24px rgba(121, 112, 16, 0.45);

      z-index: -1;
  }
}
.menu-wrap {
  text-align: center;


}
// .sub_menu{
//   display: none;
//   position: absolute;
//   z-index: 999;
//   background: $active-color;
//   margin: 0;
//   text-align: left;
//   top: 100%;
//   left: 0px;
//   li{
//     width: 100%;
//     border-top: 2px solid #026B32;
//     a{
//       display: block;
//       margin: 0 !important;
//       width: 100%;
//        padding: 26px 15px 27px !important;
//        color: #fff!important;
//        &:hover{
//         color: $site-color!important;
//        }

//     }
//   }
// }
.menu {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	li {
	    position: relative;
	    transition: .2s;
	    display: inline-block ;
	    &.current-menu-item {
	      	background: $active-color;
	      	a{
	        	color: #fff;
	      	}
	    }
	 	&.scrol-apartments{
	    	position: relative;
	   		 &:after{
				content: '';
				display: block;
				position: absolute;
				width: 11px;
				height: 11px;
				background-image: url(../images/menu-arrow_black.svg);
				background-repeat: no-repeat;
				left: 2px;
				top: 50% ;
				margin-top: -6px;
		    }
		    &:hover{
		    	&:after{
	          		background-image: url(../images/menu-arrow.svg);
	        	}
		    }
	  	}
	  	&:hover{
	  		// .scrol-apartments{
	    //    		&:after{
	    //       		background-image: url(../images/menu-arrow.svg);
	    //     	}
	    //  	}
	        .menu{
	        	display: block;
	     	}
	    }
	    &.no-active{
	      	background: none ;
	      	a{
	        	// color: #000 ;
	      	}
  		}
	    a{
        white-space: nowrap;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05em;
        padding: 26px 11px 27px;
        margin: 0 11px;
        transition: .2s;
        color: #fff;
        font-size: 16px;
	    }
	    &.active, &:hover, &:focus {
	        background-color: $active-color;
	        a{
	          color: #ffffff;
	        }

	    }

  	}
  	.menu{
	    display: none;
	    position: absolute;
	    z-index: 999;
	    background: $active-color;
	    margin: 0;
	    text-align: left;
	    top: 100%;
	    left: 0px;
    	li{
			width: 100%;
			border-top: 2px solid #026B32;
	     	a{
		        display: block;
		        margin: 0 !important;
		        width: 100%;
				padding: 26px 15px 27px !important;
				color: #fff!important;
	        	&:hover{
	        		color: $site-color!important;
	        	}

	      	}
    	}
	}
}

.right {
  float: right;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .menu{
    li{
      a{
        font-size: 16px;
        padding: 15px 10px;
        margin: 0 5px;
      }
    }
  }
  .info-group{
    // flex-direction: column;
    align-items: flex-end;
  }
}




@media screen and (max-width: 39.9375em){
	.menu li.scrol-apartments:after{
  		display: none!important;
  	}
  .sub-header{
    /* flex-direction: column; */
    padding: 10px 15px !important;
    margin-top: 54px;
    .info-group{
      width: 100%;
      justify-content: space-between;
    }
    .main-logo{
      text-align: center;
      padding: 0;
    }
    .logo2{
      text-align: center;
    }
  }

  .info-group{
    justify-content: space-between;
  }
  .navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    z-index: 9999;
    background: $active-color;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    a{
      color: #fff;
      padding: 15px 0;
    }
    .menu{
        flex-direction: column;
        padding: 10px;
        width: 100% ;
        .menu{
          display: block !important;
          position: static;
          padding: 0 !important;
          background:none;
          li{
            text-align: center;
            padding: 8px;
            border: none;
            a{
              color: #000 !important;
              padding: 0px 10px !important;
              display: inline !important;
              border-bottom: 2px solid #026b32;
            }
          }
          &:hover{
            background: none !important;
          }
        }

      li{
        a{
          padding: 16px 10px;
        }
        &:hover{
          background: none !important;
          a{
            color: #000;
          }
        }
      }
    }
  }
  .menu-wrap{
    width: 100% ;
    transition: .4s;
    position: fixed;
    left: -100%;
     background: $site-color;
    // top: 100%;
    top: 54px;
    &.active{
      left: 0;
      // position: fixed;
      bottom: 0;

      overflow-y: scroll;
    }
  }
  .title-bar{
    background: $active-color;
  }
  #mob-lang{
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
    li{
      margin: 0 15px;
      font-family: 'Roboto Condensed', sans-serif;
      a{
        color: #000;
      }
      &.active{
        border-bottom: 3px solid $active-color;
        font-weight: bold;
      }
    }
  }
}
















.mob_open{
    position: relative;
    display: block;
    .icon {
      width: 26px;
      height: 40px;
/*       -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); */
      z-index: 99999;
      cursor: pointer;
      display: block;
      /* position: fixed; */
      top: 30px;
      right: -25px;
      .burger {
        width: 25px;
        height: 3px;
        background: #fff;
        position: absolute;
        border-radius: 15px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
        &:before{
          content: '';
          width: 25px;
          height: 3px;
          background:#fff;
          position: absolute;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          -moz-transition: 0.5s;
          transition: 0.5s;
          top: -9px;
          left: 0px;
          border-radius: 15px;
        }
        &:after{
          content: '';
          width: 25px;
          height: 3px;
          background:#fff;
          position: absolute;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          -moz-transition: 0.5s;
          transition: 0.5s;
          top: 9px;
          left: 0px;
          border-radius: 15px;
        }
      }
      &.active{
        .burger{
          background: transparent;

          &:before{
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 0;
            background: #fff;

          }
          &:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
            background: #fff;

          }
        }
      }

    }

  }










