.tabs {
  border: 0;
  background-color: transparent;
  /* display: inline-block; */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 925px;
  margin: 0 auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  overflow: hidden;
}

@media screen and (max-width: 39.9375em){
  .tabs{
    flex-direction: column;
    border-radius: 0!important;
  }
  .tabs-title{
    width: 100% !important;
    background-color: #e6e6e6!important;
    a{
      padding: 15px !important;
    }
  }
}


.tabs-title {
  display: inline-block;
  margin: 0;
  background-color: #ffffff;
  width: 33.333%;
  /* height: 74px; */
  a {
    font-size: 20px;
    color: #777;
    padding: 27px 0;
  }
  &.is-active, &:hover {
    a {
      // color: $active-color;
      color: #000;
      background-color: $Tiffany-light;
    }
  }
}
.tab-info {
  text-align: center;
  // background: #F5F5F5;
}
.tabs-panel {
  background: $Tiffany-light;
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: left;
  .row {
    max-width: 100%;
  }
}
.info-title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 40px;
}
.info-descr {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #000000;
  font-family: Roboto,sans-serif;
  text-indent: 1.5rem;
  margin: 0 45px 20px 0
}
.tabs-content {
  border: 0;
  position: relative;
  // top: -5px;
}





@media screen and (max-width: 39.9375em){
  .tabs-panel{
    padding: 20 0 !important;
    .city-image{
      margin-bottom: 60px;
    }
  }
}






#about-city {
  background: $Tiffany-light url(../images/bubles.svg);
  padding: 93px 55px 119px 0;
  background-repeat: no-repeat;
  background-position: right bottom;

}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
  #about-city {
    padding: 70px 15px 70px 15px;
    .row{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      div:last-child{
        order: -1;
      }
    }
  }
}


.city-descr {
  padding-left: 60px;
  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;

    color: #000000;
  }
}



.city-image {
  position: relative;
  padding: 12.5% 11% 0 0;
  img {
    box-shadow: -154px 0px 0px 64px $active-color;
  }
}
#city-map {
  // background-color: #fff474;
  background-color: $Tiffany-light;

  background-image: none;
  padding: 61px 0;
}

#infrastructure {
  padding: 5% 0 6%;
  position: relative;
}
.image-back {
  position: relative;
}
.tab-slider {
  // position: absolute;
  // top: 4.5%;
  // left: 5.7%;
  // right: 5.7%;
  padding: 10px 5.05% 10px;
  // background-color: #fff473;
  background-color: $Tiffany-light;

  z-index: 100;
  text-align: center;
  .arrow_left {
    left: 31px;
    transition: .2s;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }
  }
  .arrow_right {
    right: 31px;
    transition: .2s;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }
  }
  .slick-list {
    text-align: center;
    margin: 0 auto;
  }
}
.infra-slide {
  padding: 20px 0px;
}
.infra-wrap {
  background-color: #ffffff;
  box-shadow: 7px 7px 26px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 24px 41px;
  width: 80%;
  margin: 0 auto;
  min-height: 286px;
  p {
    line-height: 23px;
    font-size: 18px;
    margin-top: 17px;
  }
  img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 39.9375em){
  .tab-slider{
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
  }
  .infra-wrap{
    min-height: auto !important;
    img{
      width: 100px;
      height: 100px;
    }
    p {
      line-height: 20px;
      font-size: 15px;
      margin-top: 17px;
    }
  }
  .infra-slide{
    padding: 20px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .infra-wrap{
    min-height: auto !important;
    img{
      width: 125px;
      height: 125px;
    }
    p {
      line-height: 20px;
      font-size: 16px;
      margin-top: 17px;
    }
  }
}

.apartments {
  padding: 7.7% 0 8.5%;
  background: #F5F5F5;
  a{
    color: #000;
  }
  .row {
    max-width: 88%;
    font-size: 22px;
    line-height: 35px;
    font-weight: 600;
    padding: 0 45px;
    // .columns:nth-child(2) {
    //   .ap-count {
    //     background-color: $active-color;
    //     color: #ffffff;
    //   }
    // }
    &:last-child {
      display: flex;
      padding: 0;
    }
  }
}



.app-item {
  background-color: #ffffff;
  padding: 42px 18px 66px;
  text-align: center;
  margin: 0 30px;
  position: relative;
  height: 100%;


  transition: .2s;
  cursor: pointer;
  img {
    max-height: 85%;
  }
  &:hover{
    box-shadow: 12px 12px 44px 8px rgba(0, 0, 0, 0.25);
    .ap-count {
         background-color: $active-color;
         color: #ffffff;
       }
  }
}

@media screen and (max-width: 39.9375em){
  .apartments{
    .app-item{
      margin-bottom: 40px;
    }
    .row{
      &:last-child {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  }
}



.ap-count {
  height: 65px;
  font-size: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 65px;
  background-color: $site-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .2s;
  color: #fff;
  a{
     background-color: $site-color;
  }
}
.over {
  position: relative;
  margin-bottom: 29px;
  color: $font-color;
  text-transform: uppercase;
  &:before {
    content: '';
    position: absolute;
    top: -20px;
    background-color: $active-color;
    width: 60px;
    height: 5px;
  }
}
.ap-descr {
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 0.02em;

  margin-bottom: 67px;
}
.about_dev {
  padding: 7.7% 0;
  background: #ffffff url(../images/bubles_revert.svg);
  background-repeat: no-repeat;
  background-position: left center;
  .row {
    max-width: 78.4%;
    position: relative;
  }
  p{
    width: 50%;
    font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: 30px;
font-size: 18px;

color: #000000;

  }
}
.dev-descr {
  width: 50%;
  margin-bottom: 26px;
  z-index: 100;
  font-weight: 300;
  line-height: 23px;
  font-size: 18px;
  letter-spacing: 1px;
}
.dev-advantages {
  display: flex;
  margin-top: 60px;
}
.advantage {
  display: inline-block;
  border: 5px solid #FCD227;
  border: 5px solid $site-color-tone;

  width: 206px;
  /* height: 144px; */
  margin-right: 33px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px 23px;
  z-index: 100;
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    text-align: center;

    /* line-height: 14px; */
    color: $active-color;
    width: 100%;
  }
}


@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .dev-advantages{
    flex-wrap: wrap;
    justify-content: center;
    .advantage{
      margin-bottom: 33px;
    }
  }
  .dev-group{
    display: none;
  }
  .dev-descr{
    width: 100%;
  }
  .about_dev {
    P{
      width: 100%;
    }
  }
}

@media screen and (max-width: 39.9375em){
  .dev-group{
    display: none;
  }
  .dev-descr{
    width: 100%;
  }
  .dev-advantages{
    flex-wrap: wrap;
    justify-content: center;
    .advantage{
      margin-bottom: 33px;
    }
  }
  .about_dev {
    padding: 0 15px;
    .row{
          max-width: 100%;
    }
    P{
      width: 100%;
    }
  }
}




.count {

  color: $active-color;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  font-size: 60px;
  text-align: center;
  letter-spacing: -4px;
}
.dev-group {
  position: absolute;
  right: -7%;
  top: -5%;
  max-width: 45%;
}
.news {
  background-color: $Tiffany-light;
  padding: 78px 0 60px;
  .row {
    max-width: 81%;
  }
  .slick-track{
    margin: 0 !important;
  }
}
.contacts {
  padding-bottom: 3.85%;
  position: relative;
  background: #F5F5F5;
  .row {
    max-width: 100%;
    display: flex;
  }
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.managers {
  background: #ffffff url(../images/bubles.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 5.7% 12.7% 0 0;
}
.contact_us {
  margin-bottom: 8.3%;
  padding: 6.2% 10.4%;
  .info-title {
    margin-bottom: 34px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #39393A;
    letter-spacing: 0.02em;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    margin-bottom: 38px;
    color: #39393A;
  }
}
.manager {
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 29px;
  &:nth-child(odd) {
    margin-right: 34%;
  }
  img {
    max-width: 125px;
  }
}
.m-info {
  display: inline-block;
  text-align: right;
  position: relative;
  float: left;
  padding-left: 50px;
  width: 100%;
  span{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    padding-right: 39px;
    // text-align: right;
    white-space: nowrap;
    color: #39393A;

  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .managers{
    padding-right: 0px !important;
  }
  .manager{
    flex-direction: column;

  }
  .m-info{
    text-align: center !important;
    order: 2;
    padding-left: 0 !important;
    .m-phone, .m-name{
      padding: 0 !important;
    }
    span{
      padding-right: 0 !important;
    }
  }
}

@media screen and (max-width: 39.9375em){
  .manager{
    flex-direction: column;

  }
  .m-info{
    text-align: center !important;
    order: 2;
    padding-left: 0 !important;
    .m-phone, .m-name{
      padding: 0 !important;
    }
    span{
      padding-right: 0 !important;
    }
  }
}



.m-name {


  padding-right: 39px;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  // text-align: right;
  letter-spacing: 0.5px;

  color: #39393A;
}
.m-phone {
  padding-right: 39px;
  margin-top: 12px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  // text-align: right;
  letter-spacing: 0.5px;
  white-space: nowrap;
  color: #39393A;
  a{
    color: #000;
  }
}
.m-line {
  position: absolute;
  bottom: -14px;
  height: 13px;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
}

.slider-wrap {
  width: 50%;
  background: #007D39;
  border-radius: 25px;
  height: 36px;
  margin: 63px auto 0;
}
.slider {
  position: relative;
  margin: 0 50px;
  background-color: transparent;
}
.slider .ui-slider-handle {
  width: 45px;
  height: 22px;
  margin-left: -24px;
  background: #76D5A1 url(../images/cyrcle.svg);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
  top: 7px;
  border-radius: 15px;
  outline: none;
  transition: all 0.2s linear;
  position: absolute;
  z-index: 2;
}
.carousel-news {
  width: 100%;
  height: auto;

  .n-slide-prev{
    position: absolute;
    top: -83px;
    right: 150px;
    cursor: pointer;
    &:hover{
      transition: .2s;
      transform: scale(1.2);

    }
  }
  .n-slide-next{
    position: absolute;
    top: -83px;
    right: 50px;
    cursor: pointer;
    &:hover{
      transition: .2s;
      transform: scale(1.2);

    }
  }
}

@media screen and (max-width: 39.9375em){
   .n-slide-prev{
    bottom: -50px;
    top: auto !important;
    right: 53% !important;
    z-index: 999;
   }
   .n-slide-next{
    bottom: -50px;
    top: auto !important;
    left: 53%;
   }
   .slider-wrap{
    display: none;
   }
   .news{
    padding-bottom: 65px !important;
    padding-top: 50px !important;
   }
   .news-item{
    .news-title{
      font-size: 14px;
      line-height: 23px;
    }
    img{
      height: 180px !important;
    }
    .news-info{
      min-height: 90px;
    }
   }
}


.carousel-news .slick-slide {
  height: auto;
}

.news-item {
  width: 50%;
  padding: 0 25px;
  overflow: hidden;
  img{
     border-radius: 6px 6px 0px 0px;
    height: 275px;
    width: 100%;
    object-fit: cover;
  }
  a{
    color: #000;
  }
}
.news-info {
  background-color: #ffffff;
  /* height: 114px; */
  /* text-align: center; */
  padding: 10px 25px 0;
    flex-direction: column;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 110px;
}
.news-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  /* margin-top: 22px; */
}
.left {
  float: left;
}
.sub-info {
  line-height: 24px;
  font-size: 16px;
  color: #007D39;
  margin-top: auto;
  margin-bottom: 8px;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .news-item{
    img{
      height: 200px;
    }
  }
}





.main-carousel {
  background: #F5F5F5;
  position: relative;
  margin-bottom: 126px;

}
.central-slider {
  position: relative;
 img{
    height: 800px;
    width: 100%;
    object-fit: cover;
  }
}



.img-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to left bottom, rgba(0,110,239,0.3) 20%, rgba(0,0,0,0.7));
}
.slide-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 23%;
  text-align: center;
  color: #ffffff;
  width: 80%;
  .info-title {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
.title {
  font-size: 72px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 114px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.title-btn {
  display: flex;
  justify-content: center;
  margin: 14px;
}
.main-wave {
  bottom: -40px;
}






@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .central-slider {
   img{
    height: 400px;
    width: 100%;
    object-fit: cover;
   }

  }
  .main-wave {
    bottom: -31px;
  }
  .title {
    font-size: 40px !important;
    line-height: 45px !important;
    letter-spacing: -.005em;
  }
   .info-title{
    margin-bottom: 50px !important;
   }
   .slick-dots{
    bottom: 15% !important;
   }
   .arrow_bottom{
    bottom: 10px !important;

   }
   .arrow{
      width: 50px !important;

    }
    .arrow-b{
      width: 50px !important;
    }
    .slick-dots li button{
      width: 15px!important;
      height: 15px!important;
    }
}









.arrow{
  position: absolute;
  top: 38%;
  z-index: 100;
}
.arrow_left {
  left: 65px;
  transition: .2s;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}
.arrow_right {
  right: 65px;
  transition: .2s;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}

.arrow_bottom {
  position: absolute;
  bottom: 11.5%;
  z-index: 100;
  left: 50%;
  /* transform: translate(-50%, 0); */
  margin-left: -37px;
   transition: .2s;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}
.slick-dots {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  z-index: 100;
  li {
    list-style: none;
    display: inline-block;
    padding: 0 12px;
    button {
      background-color: rgba(255, 255, 255, 0.8);
      width: 18px;
      height: 18px;
      text-indent: -9999px;
      overflow:hidden;
      border: 2px solid transparent;
      box-sizing: border-box;
      border-radius: 50%;
    }
    &:hover, &:focus  {
      button {
        // background-color: rgba(255, 232, 0, 0.8);
        background-color: $site-color-tone;

        border: 2px solid #ffffff;
      }
    }
    &.slick-active {
      button {
        // background-color: rgba(255, 232, 0, 0.8);
        background-color: $site-color-tone;

        border: 2px solid rgba(255, 255, 255, 0.8);
      }
    }
  }
}


@media screen and (max-width: 39.9375em){
  .main-wave{
    bottom: -10px !important;
  }
  .central-slider{
    .title{
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 10px;
    }
    .info-title{
      font-size: 18px;
      line-height: 20px;
    }
    .slide-info{
      top: 10%;
    }

    .btn{
      min-width: auto;
      padding: 10px 30px;
      font-size: 15px;
      line-height: 16px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
    }
    img{
      height: 230px;
      object-fit: cover;
    }
  }
  .main-carousel{
    margin-bottom: 10px !important;
  }

  .slick-dots{
    display: none !important;
  }
  .arrow_right{
      right: 0 !important;
    }
    .arrow_left{
      left: 0 !important;
    }
    .arrow{
      width: 40px;
    }
    .arrow_bottom{
      width: 50px;
      bottom: 0;
    }
}




@media(max-width: 1500px) {
  .slide-info {
    top: 18%;
  }
  .title {
    font-size: 62px;
    line-height: 95px;
  }
  .city-descr {
    padding: 0 15px;
  }
  .apartments {
    .row {
      max-width: 95%;
    }
  }
  .app-item {
    margin: 0 20px;
  }
  .news {
    .row {
      max-width: 90%;
    }
  }
  .managers {
    padding-right: 5%;
  }
  .contact_us {
    padding: 6% 9%;
  }
  .tab-slider {
    // left: 2%;
    // right: 2%;
    padding: 10px 4% 10px;
    .arrow_left {
      left: 15px;
    }
    .arrow_right {
      right: 15px;
    }
  }
  .infra-wrap {
    padding: 20px;
    p {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 24px;
  }
  .slide-info {
    top: 15%;
  }
  .title {
    font-size: 50px;
    line-height: 75px;
  }
  .info-title {
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .arrow_left {
    left: 35px;
  }
  .arrow_right {
    right: 35px;
  }
  .info-descr {
    /* font-size: 14px; */
    /* line-height: 20px; */
    margin: 0 25px 10px 0;
  }
  .city-image {
    img {
      box-shadow: -100px 0 0 45px $active-color;
    }
  }
  .app-item {
    margin: 0;
  }
  .advantage {
    padding: 8px 15px;
  }
}
