.aboutPage_about{
	position: relative;
	padding-top: 20px;
	margin-bottom: 100px;
	padding-bottom: 150px;
	margin-top: 100px;
	overflow: hidden;
	.wrapper{
    	background: url(../images/bubles_revert.svg);
	    background-repeat: no-repeat;
	    background-position: 0;
    }
}

.advantages_item{
	border: 6px solid $site-color;
	color: $active-color;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	width: 25%;
	min-width: 130px;
	margin: 0 15px;
	padding: 10px 5px;
	span{
		font-style: normal;
		font-weight: bold;
		line-height: 60px;
		font-size: 60px;
		text-align: center;
		letter-spacing: -4px;
	}
	p{
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		line-height: 16px;
	}
}
.aboutPage-text{
	p{
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 300;
		line-height: 30px;
		font-size: 18px;
		// letter-spacing: 1px;

		color: #000000;
	}
}

.aboutPage{
	&__img{
		padding-top: 55px;
		position: relative;
		img{
			height: 345px;
			width: 100%;
			object-fit: cover;
			 box-shadow: 315px 298px 0 180px $site-color;
		}
	}

}

.aboutPage_advantages{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 50px;
}


@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.aboutPage_advantages{
		margin-top: 50px;
	}
}

@media screen and (max-width: 39.9375em){
	.aboutPage_advantages{
		margin-top: 50px;
		flex-wrap: wrap;
	}
	.advantages_item{
		width: 44%;
		margin: 0 3%;
		margin-bottom: 6%;
	}
}


.about-work{
	&__img{
		img{
			box-shadow: -154px 18px 0 70px $active-color;
			height: 302px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__content{
		p{
			font-weight: 300;
			line-height: 30px;
			font-size: 18px;
			// letter-spacing: 1px;

			color: #000000;
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.about-work{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		&__content{
			order: -1;
			margin-bottom: 90px;
		}
	}
}

@media screen and (max-width: 39.9375em){
	.about-work{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		&__content{
			order: -1;
			margin-bottom: 90px;
		}
		&__img{
			img{
				height: 210px;
			    box-shadow: -110px 10px 0 45px $active-color;	
			}
		}
	}
}





.top-block{
	&__img{
		
		position: relative;
		&:after{
		 	content: '';
		 	width: 200%;
		 	background: $site-color;
		 	height: 1500px;
		 	display: block;
		 	position: absolute;
		 	top: 0;
		 	z-index: -1;
		    left: 187px;
    		z-index: -1;
		 }
		
	}
	.top-block__btn{
		margin-top: 60px;
	}
	&-content{
		p{
			font-weight: 300;
			line-height: 30px;
			font-size: 18px;
			// letter-spacing: 1px;

			color: #000000;
		}
	}
}


#top-block{
	position: relative;
    padding-top: 70px;
    margin-bottom: 100px;
    padding-bottom: 150px;
    margin-top: 100px;
    overflow: hidden;
}

.top-block-wrap{
	overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    img{
    	object-fit: cover;
    	width: 100%;
    }
    
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.top-block{
		&__img{
			text-align: center;
			&:after{
				left: 50% !important;
			}
		}
	}
}
@media screen and (max-width: 39.9375em){
	.top-block{
		&__img{
			margin-top: 30px;
			text-align: center;
			&:after{
				left: 50% !important;
			}
		}
		&__btn{
			text-align: center;
		}
	}
	#top-block{
		padding-bottom: 60px !important;
	}
}




#about-news{
	.info-title{
		padding: 0 15px;
	}
}
.about-news{
	margin-bottom: 100px;

	.n-slide-prev{
		position: absolute;
	    top: -83px;
	    right: 150px;
	    cursor: pointer;
	     &:hover{
	      transition: .2s;
	      transform: scale(1.2);

	    }
	}
	.n-slide-next{
		position: absolute;
	    top: -83px;
	    right: 50px;
	    cursor: pointer;
	     &:hover{
	      transition: .2s;
	      transform: scale(1.2);

	    }
	}



	.slick-track{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	&-item{
		border-radius: 6px;
		overflow: hidden;
		margin: 0 20px;	
		margin-bottom: 20px;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.19);
		&__img{
			overflow: hidden;
			img{
				height: 275px;
				width: 100%;
				object-fit: cover;
				transition: .2s;
			}
		}
		&:hover{
			.about-news-item__img{
				img{
					transform: scale(1.05);
				}
			}
		}
	}
	.about-news-item__title{
		padding: 20px;
		padding-bottom: 50px;
		background: #fff;
		span{
			font-style: normal;
			font-weight: bold;
			line-height: 30px;
			font-size: 20px;
			font-family: 'Roboto Condensed', sans-serif;
			color: #000000;
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.about-news{
		&-item{
			&__img{
				img{
					height: 225px;
					width: 100%;
					object-fit: cover;
				}
			}
		}
		
	}
}

@media screen and (max-width: 39.9375em){
	.about-news{
		&-item{
			&__img{
				img{
					height: 195px;
					width: 100%;
					object-fit: cover;
				}
			}
		}
		
	}
}




