.wrapper{
	max-width: 1590px;
	margin: 0 auto;
}
.apartment-item{
	margin-top: 30px;
	padding: 60px 0 90px 0;
	background: #fff url(../images/bubles.svg);
    background-repeat: no-repeat;
    background-position: right;
	.info-title{
		text-transform: uppercase;
		font-family: 'Roboto Condensed', sans-serif;
		position: relative;
		margin-bottom: 55px;
		&:after{
			content: '';
			display: block;
			position: absolute;
		}
	}
	.sub_title{
		font-family: 'Roboto Condensed', sans-serif;
		font-style: normal;
		font-weight: bold;
		line-height: 30px;
		font-size: 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin-bottom: 40px;
		color: #000000;
	} 
	&__btn{
		max-width: 260px;
		.btn-right{
		    background: #fff;
			box-shadow: 0 0 0 3px $site-color-tone;
			padding: 12px 21px;
			margin-top: 20px;
			transition:.2s;
			&:hover{
				box-shadow: 0 0 0 5px $site-color-tone;
			}
		}
	}
	&__info{
		padding-top: 20px;
	}
	&__img{
		text-align: center;
	}
	&__text{
		margin-bottom: 50px;
		p{
			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			line-height: 30px;
			font-size: 18px;
			max-width: 510px;
			color: #000000;
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.apartment-item{
		.info-title{
			margin-bottom: 30px !important;
		}
		.sub_title{
			margin-bottom: 20px !important;
		}
		&__text{
			margin-bottom: 35px !important;
			p{
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
}

@media screen and (max-width: 39.9375em){
	.apartment-item{
		&__btn{
			max-width: 100%;
			text-align: center;
		}
	}
}
/* box-shadow: 0px 0px 42.618px rgba(2, 32, 15, 0.35); */




.sections-items{
	/* height: 775px; */
	// overflow: hidden;
	// transition: 1s;
	padding-top: 20px;
	height: 870px;
	&.active{
		height: 100%;
		article:nth-child(n+9){
			.sections-item{
				display: block;
				// opacity: 1;
			}
			
		}
	}
	article:nth-child(n+9){
		.sections-item{
			display: none;
			// opacity: 0;
			// transition: 1s;
		}
		
	}
	
}
.block-sections{
	padding: 50px 0;
	.info-title{
		text-transform: uppercase;
		padding: 0 15px;
	}
	.sections-item{
		padding: 15px;
		cursor: pointer;
		background: #fff;
		margin-bottom: 50px;
		position: relative;
		&:hover{
			.sections-item__img{
				img{
					transform: scale(1.05);
				}
			}
		}
		&:before{
			content:'';
			display: block;
			position: absolute;
			width: 90%;
			background: #fff;
			left: 5%;
			box-shadow: 0px 0px 42.618px rgba(2, 32, 15, 0.35);
			top: 16px;
			height: 94%; 
			z-index: -1;
		}
		
		&__img{
			text-align: center;
			margin-bottom: 20px;
			z-index: 1;
			background: #fff;
			img{
				transition: .2s;
				height: 300px;
				width: 100%;
				object-fit: contain;
			}
		}
		&__name{
			background: #fff;
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: bold;
			line-height: 30px;
			font-size: 20px;
			text-align: center;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			z-index: 1;
			position: relative;
			  
		}

	}
	&__btn{
		margin-top: 50px;
		text-align: center;
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.sections-items{
		// height: 860px;
		&.active{
			article:nth-child(n+7){
				.sections-item{
					// opacity: 1;
					display: block;
				}
			}
		}
		article:nth-child(n+7){
			.sections-item{
				// opacity: 0;
				// transition: 1s;
				display: none;
			}
		}
	}
}
@media screen and (max-width: 39.9375em){
	.block-sections .sections-item__img img{
		height: 130px;
	}
	.sections-item{
		&:before{
			height: 90% !important;
		}
	}
	.sections-items{
		// height: 510px;
		
		&.active{
			article:nth-child(n+5){
				.sections-item{
					// opacity: 1;
					display: block;
				}
			}
		}
		article:nth-child(n+5){
			.sections-item{
				// opacity: 0;
				// transition: 1s;
				display: none;
			}
		}
	}
}



////////////////////////////////////////////////

.comfort-block-wrap{
	overflow: hidden;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	img{
		object-fit: cover;
		width: 100%;
	}

}

#comfort-block{
	position: relative;
	padding-bottom: 140px;
	margin-bottom: 120px;
	margin-top: 120px;
}
.comfort-block{
	padding: 0 15px;
	&__img{
		img{
			box-shadow: 155px 40px 0 95px $site-color;
			height: 300px;
			width: 100%;
			object-fit: cover;
		}
	}
	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.comfort-list{
		list-style: none;
		margin: 0;
		li{
			width: 50%;
			position: relative;
			font-weight: 300;
			line-height: 30px;
			font-size: 20px;
			margin-bottom: 15px;
			padding-right: 35px;
			color: #000000;
			&:after{
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: $active-color;
				left: -15px;
				top: 10px;
			}
		}
	}
}
@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.comfort-block-content{
		flex-direction: column;
	}
	.comfort-block__img{
		margin-top: 100px;
	}
	#comfort-block{
		margin-top: 40px !important;
		margin-bottom: 70px !important;
	}
}

@media screen and (max-width: 39.9375em){
	.comfort-block-content{
		flex-direction: column;
	}
	.comfort-block__img{
		margin-top: 60px;
		img{
			height: 185px !important;
			box-shadow: 90px 10px 0 40px $site-color;
		}
	}
	.comfort-list{
		li{
			width: 100% !important;
			font-size: 16px !important;
			line-height: 25px !important;
		}
	}
	#comfort-block{
		margin-bottom: 70px !important;
		padding-bottom: 60px !important;
	}
}







.town-block{
	margin-bottom: 120px;
	.info-title{
		text-transform: uppercase;
	}
	&__img{
		img{
			box-shadow: -154px 0 0 64px $active-color;
			height: 390px;
			width: 100%;
			object-fit: cover;
		}
	}
	ul{
		list-style: none;
		max-width: 450px;
		margin: 0;
		margin-bottom: 50px;
		li{
			position: relative;
			font-weight: 300;
			line-height: 30px;
			font-size: 20px;
			margin-bottom: 15px;
			/* padding-right: 35px; */
			padding-left: 25px;
			color: #000000;
			&:after{
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: $active-color;
				left: 0px;
				top: 10px;
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.town-block{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		.info-title{
			margin-bottom: 30px !important;
		}
		ul{
			margin-bottom: 35px;
		}
		&__content{
			padding-left: 50px;
			order: -1;
			margin-bottom: 110px;
		}
		&__img{
			img{
				height: 300px;
			}
			
		}
	}
}


@media screen and (max-width: 39.9375em){
	.town-block{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		.info-title{
			margin-bottom: 30px !important;
		}
		ul{
			margin-bottom: 35px;
			margin-left: 15px;
			li{
				font-size: 16px !important;
				line-height: 25px !important;
			}
		}
		&__content{
			order: -1;
			margin-bottom: 110px;
		}
		&__img{
			img{
				height: 200px;
			    box-shadow: -90px 0 0 40px $active-color;
			}
			
		}
	}
}





