.blogEntry{
	margin-top: 100px;
	&_date{
		font-family: Roboto Condensed;
		font-style: normal;
		font-weight: bold;
		line-height: 24px;
		font-size: 16px;
		margin-bottom: 30px;
		color: #000;
		overflow: hidden;
		span{
			position: relative;
			&:after{
				content: '';
				display: block;
				position: absolute;
				// right: 0;
				bottom: 4px;
				left: 105%;
				height: 1px;
				background: #000;
				width: 12200%;
			}
		}
		
	}
	&_title{
		font-family: Roboto Condensed;
		font-style: normal;
		font-weight: bold;
		line-height: 40px;
		font-size: 34px;
		letter-spacing: 0.02em;
		margin-bottom: 45px;
		color: #000000;
	}
}
.content{
	img{
		margin-bottom: 45px;
	}
	iframe{
		width: 100%;
		height: 450px;
		margin: 60px 0;
	}
}
.sidebar{
	margin-top: 90px;
	.contactPage__phone{
		padding-top: 50px;
	}
}
#blogEntry-news{
	padding: 50px 0;
	background: radial-gradient(1145.12px at 48.85% -9.42%, $site-color  0%, $site-color-tone 100%),
	radial-gradient(1088.69px at 44.21% 88.36%, #F5F5F5 0%, #EBE9E9 100%),
	radial-gradient(1205.17px at 35.13% -3.33%, #FFF474 0%, #F8E500 100%);
	margin-bottom: 100px;
	.info-title{
		padding: 0 15px;
	}
	
}