.last-news {
	margin-top: 40px;
	padding: 50px 0;
	margin-bottom: 50px;

	.info-title{
		padding: 0 15px;
	}
	&-title{
		font-family: Roboto Condensed;
		font-style: normal;
		font-weight: bold;
		line-height: 25px;
		font-size: 25px;
		letter-spacing: 0.02em;
		margin-bottom: 50px;
		color: #000000;
	}
	&-text{
		margin-bottom: 50px;
		p{
			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			line-height: 30px;
			font-size: 18px;
			color: #000000;
		}
	}
	&__img{
		img{
			height: 365px;
			width: 100%;
			object-fit: cover;
			box-shadow: 345px 0px 0px 36px $site-color;
		}
	}
}

.all-news{
	background: radial-gradient(1890.99px at 48.85% -9.42%, $site-color-tone 0%, $site-color 100%), 
				radial-gradient(1368.56px at 44.21% 88.36%, #F5F5F5 0%, #EBE9E9 100%);
	padding-top: 100px;
	padding-bottom: 75px;
	margin-bottom: 100px;
	.wrapper{
		overflow: hidden;
		.column{
			float: left !important;
		}
	}
}
.blog-items{
	margin: 0 -15px;
}
.blog-item{
	
	margin-bottom: 70px;
	padding: 0 15px;
	&__img{
		overflow: hidden;
		border-radius: 10px 10px 0px 0px;
		img{
			height: 275px;
			width: 100%;
			object-fit: cover;
			transition: .2s;
		}
	}
	&:hover{
		.blog-item__img{
			img{
				transform: scale(1.05);
			}
		}
	}
	&__text{
		background: #fff;
		padding: 20px;
		overflow: hidden;
		border-radius: 0px 0px 10px 10px ;
		.blog-item-title{
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: bold;
			line-height: 30px;
			font-size: 20px;
			margin-bottom: 15px;
			color: #000000;

		}
		.blog-item-date{
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: normal;
			line-height: 24px;
			font-size: 16px;

			color: #007D39;
		}
	}


}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.last-news__img{
		margin-top: 70px;
		
	}
	.blog-item{
		&__img{
			img{
				height: 200px;
			}
		}
	}
}

@media screen and (max-width: 39.9375em){
	.last-news{
		margin-top: 10px;
	}
	.last-news__img{
		margin-top: 70px;
		img{
			height: 195px;
		    box-shadow: 85px 0 0 36px $site-color;
		}
	}
	.last-news-btn{
		text-align: center;
	}
	.blog-item{
		&__img{
			img{
				height: 200px;
			}
		}
	}
}



















