.contactPage-contacts{
	margin-top: 120px;
	margin-bottom: 160px;
	
    .wrapper{
    	background: url(../images/bubles_revert.svg);
	    background-repeat: no-repeat;
	    background-position: 0;
    }
}

.contactPage{
	&__offices{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	&__info{
		padding: 40px 15px;
	}
	&__btn{
		margin-top: 55px;
	}
	&__phone{
		margin-bottom: 40px;
		font-family: 'Roboto Condensed', sans-serif;

		font-style: normal;
		font-weight: bold;
		line-height: 30px;
		font-size: 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		color: #000000;
		p{
			margin: 0;
		}
		a{
			font-family: 'Roboto Condensed', sans-serif;

			font-style: normal;
			font-weight: bold;
			line-height: 30px;
			font-size: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;

			color: #007D39;
		}
	}
	&__img{
		img{
			box-shadow: 275px 68px 0 10px $site-color;
			height: 445px;
			width: 100%;
			object-fit: cover;
		}
	}
	
}
.contact-map{
	margin-bottom: 60px;
	&__btn{
		text-align: center;
		margin-bottom: 130px;
	}
}

.office-item{
	max-width: 275px;
	margin-right: 55px;
	&__title{
		font-family: 'Roboto Condensed', sans-serif;
		font-style: normal;
		font-weight: bold;
		line-height: 30px;
		font-size: 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin-bottom: 10px;
		color: #000;
		span:last-child{
			color: #007D39;
			display: block;
		}
		a{
			font-family: 'Roboto Condensed', sans-serif;
			font-style: normal;
			font-weight: bold;
			line-height: 30px;
			font-size: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #007D39;
			display: block;
		}
	}
	&__work-time{
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		line-height: 20px;
		font-size: 18px;
		letter-spacing: 1px;

		color: #000000;
		span{
			display: inline-block;
			margin-bottom: 5px;

		}

		ul{
			list-style: none;
			margin: 0;
		}
	}
}

@media screen and (max-width: 39.9375em){
	.contactPage-contacts{
		margin-top: 20px;
	}
	.contactPage__img{
		img{
			height: 210px;
			box-shadow: 35px 35px 0 10px $site-color;
		}
	}
	.contactPage__offices{
		flex-direction: column;
	}
	.office-item{
		
		margin-right: 0;
		margin-bottom: 30px;
	}
}





























