.select-sections-wrap {
    width: auto;
    // padding: 40px 20px;
    padding: 0;
    overflow-y: hidden;
}

.col-title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.col_title {
    background-color: #f5f5f5;
    padding: 0;
    padding-top: 45px;
}

.col_title_center {
    padding-top: 45px;
}

.building-content__title {
    position: absolute;
    top: 40px;
    right: 20px;
    padding: 20px;
    background-color: $site-color;

    span {
        text-transform: uppercase;
        color: #fff;
    }
}

.select-sections__header {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 20px;
    // margin-top: 10px;
    border-bottom: 3px solid $active-color;

    h4 {
        font-size: 24px;
        text-align: center;
    }
}

.select-sections__list {
    padding: 0;
    background-color: #f5f5f5;
    position: relative;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 20px;

    ul {
        list-style: none;
        margin: 0;
        max-height: 620px;
        overflow-y: scroll;

        li {
          cursor: pointer;
          font-size: 20px;
          color: #000;
          transition: 0.2s;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
            padding: 5px 0;
            /* align-items: center; */

            span {
                display: block;
                padding: 0 5px;
                line-height: 20px;
                /* min-width: 100px; */
            }

            div {

            }

            .section-num {
              font-size: 30px;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              align-items: center;
            }

            .section-status {
              font-size: 15px;
              line-height: 16px;
              color: #777;
              transition: 0.2s;
            }

            &:hover {
                color: $active-color;
            }

            &.tab-active {
                color: #fff;
                /* background-color: $site-color; */

                span {
                  background-color: $site-color;
                }

                .section-status {
                  color: #fff;
                }

                div {
                  border-bottom-right-radius: 4px;
                  border-top-right-radius: 4px;
                  overflow: hidden;
                }

                .section-num {
                  border-bottom-left-radius: 4px;
                  border-top-left-radius: 4px;
                  border-bottom-right-radius: 0px;
                  border-top-right-radius: 0px;
                  background-color: $site-color;
                }

            }
        }
    }
}

.sections-content_wrapper {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.select-sections {
    display: flex;
    align-items: stretch;
}

.sections-content {
    display: none;
    // position: relative;

    .section_number {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        color: $active-color;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    &.active {
        display: block;
    }
}

.sections_map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}

#whichState {
    position: absolute;
    z-index: 33;
    background-color: $site-color;
    padding: 10px;
    color: $active-color;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    display: none;
    color: #fff;

    p {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }
}

.sections_map svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    path {
        fill-opacity: 0;
        transition: 0.3s;

        &:hover {
            fill-opacity: 0.6;
        }
    }
}


.popupfloor {
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .select-sections__arrows {

        .sections_arrow_down, .sections_arrow_up {
            cursor: pointer;
            margin: 10px;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.floor {
    background-color: $site-color;
    padding: 10px;
    color: $active-color;
    text-align: center;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    width: 100px;
    height: 100px;
    color: #fff;

    span {
        display: block;
        margin: 0;
        font-weight: bold;
        font-size: 25px;
    }
}

.floor_widget {
  position: fixed;
  bottom: 30px;
  right: 30px;
  // background-color: $site-color;
  display: flex;
  z-index: 200;
  align-items: center;

  &__phone {
    background-color: $site-color;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);

    a {
      color: #fff;
      display: inline-block;
      padding: 15px 20px;
      font-weight: 500;
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 50%;
    background-color: $site-color;
    margin-left: -9px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    transition: 0.2s;

    &:hover {
      background-color: $site-color-tone;
    }
  }
}

@media screen and (min-width: 40em) {
    .select-sections-wrap {
        max-width: 85rem;

        ul {
          li {
            .section-num {
              font-size: 24px;
            }
          }
        }
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .select-sections__list {
    padding-left: 5px;
  }
}


@media screen and (max-width: 39.9375em){
    .select-sections {
        flex-direction: column;
    }

  .floor_widget {
    margin-bottom: 0 !important;

    &__phone {
      display: none;
    }

    &__icon {
      width: 60px;
      height: 60px;
    }
  }

	.select-sections-wrap {
        top: 55px !important;
        padding: 55px 15px;
        min-height: calc(100vh - 55px)!important;
        height: calc(100vh - 55px)!important;
    }

    .select-sections__list {
        padding: 0;
        margin-bottom: 20px;

        ul {
            list-style: none;
            margin: 0;
            max-height: 580px;
            overflow-x: scroll;
            display: flex;
            padding: 20px 0;

            li {
                font-size: 16px;
                text-align: center;

                span {
                    /* min-width: 90px; */
                }

                &.tab-active {
                  background: $site-color;
                  border-radius: 4px;
                }

            }
        }
    }

    .sections-content_wrapper {
        margin-top: 40px;
    }

    .sections-content {
        .section_number {
           top: -40px;
        }
    }

    .building-content__title {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        background-color: $site-color;

        span {
            text-transform: uppercase;
            font-size: 13px;
        }
    }

    .popupfloor {
        margin-top: 20px;

        .select-sections__arrows {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .floor {
        width: 80px;
        height: 80px;
    }
}
